name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  scan_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install dependencies
        run: bundle check || bundle install --jobs 4 --retry 3

      - name: Scan for Rails vulnerabilities (Brakeman)
        run: bundle exec brakeman --no-pager --no-exit-on-warn

      - name: Scan for known gem vulnerabilities (bundler-audit)
        run: bundle exec bundler-audit check --update

  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Install PostgreSQL dependencies
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y libpq-dev

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Wait for Postgres to be ready
        env:
          PGPASSWORD: password
        run: |
          until pg_isready -h localhost -p 5432 -U postgres; do
            sleep 1
          done

      - name: Run RSpec
        env:
          RAILS_ENV: test
          DATABASE_URL: postgres://postgres:password@localhost:5432/ticket_flow_test
        run: |
          bundle check || bundle install --jobs 4 --retry 3
          bin/rails db:create || true
          bin/rails db:schema:load
          bundle exec rspec


